@model CorporateAndFinance.Core.Model.UserDepartment
<style>
    .delRow {
    text-align:center;
    cursor:pointer;
   
    font-weight:bold;
}
</style>
 <div class="row">
    <div>
        @Html.LabelFor(model => model.DepartmentID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            <div class="input-group">
                @Html.DropDownListFor(model => model.DepartmentID, Model.Departments.Count() == 0 ? Enumerable.Empty<SelectListItem>() : Model.Departments.Select(
                  x => new SelectListItem()
                  {
                      Value = x.DepartmentID.ToString(),
                      Text = x.Name,
                      Selected = x.DepartmentID == Model.DepartmentID
                  }), new { @class = "form-control", @placeholder = "Select Departments", Name = "SelectedDepartment" })
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-chevron-down"></i></span>
            </div>
            @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div>
        @Html.LabelFor(model => model.RolesList, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            <div class="input-group">
                @Html.DropDownListFor(model => model.RoleID, Model.RolesList.Count() == 0 ? Enumerable.Empty<SelectListItem>() : Model.RolesList.Select(
                  x => new SelectListItem()
                  {
                      Value = x.Value.ToString(),
                      Text = x.Text,
                      Selected = x.Value == Model.RoleID
                  }), new { @class = "form-control", @placeholder = "Select Roles", Name = "SelectedRoles" })
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-chevron-down"></i></span>
            </div>
            @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="delRow">&times;</div>
     <br />  
</div>

 
<script type="text/javascript">


    $(document).ready(function () {

        $("#divUserDepartment").on('click', '.delRow', function () {
            $(this).parent().remove();
        })

       
    });


 


</script>

 

