@using CorporateAndFinance.Web.Helper
@using CorporateAndFinance.Core.Helper.Structure
<div class="col-sm-9">
    <div class="row">
        <h1 class="red text-center">Corporate Finance Modules<br><span style="font-size: 8pt;">Lets Get Started, the New Experience of Corporate Finance</span></h1>
        <div id="metroaqui" class="metro-panel"></div>
        <div class="clearfix"></div>
    </div>
    </div>
    @section Scripts{

       
        <script type="text/javascript">
            var pettyCash = '@PermissionControl.CheckPermission(UserAppPermissions.PettyCash_View)';
            var bankPosition = '@PermissionControl.CheckPermission(UserAppPermissions.BankPosition_View)';
            var compliance = '@PermissionControl.CheckPermission(UserAppPermissions.Compliance_View)';
            var userCard = '@PermissionControl.CheckPermission(UserAppPermissions.UserCardExpense_View)';
            var bankTrans = '@PermissionControl.CheckPermission(UserAppPermissions.BankTransaction_View)';

            $(document).ready(function () {

                if (pettyCash == 'True')
                $("#metroaqui").AddBtnMy('bt4', '12', 'blue', 'money', 'Petty Cash', '@Url.Action("Index", "PettyCash")');

                // $("#metroaqui").AddBtnMy('bt4', '4', 'black', 'file-text', 'ACH/Wire Log Sheeet', '#');
                if (bankPosition == 'True')
                $("#metroaqui").AddBtnMy('bt4', '6', 'yellow', 'address-book', 'Bank Position', '@Url.Action("Index", "BankPosition")');
                // $("#metroaqui").AddBtnMy('bt4', '4', 'cyan', 'pie-chart', 'Collection And Payments Reports', '#');
                //   $("#metroaqui").AddBtnMy('bt4', '3', 'purpal', 'sitemap', 'Intercompany Recon Sheet ', '#');
                //  $("#metroaqui").AddBtnMy('bt4', '3', 'red', 'line-chart', 'AMEX', '#');
                //  $("#metroaqui").AddBtnMy('bt4', '3', 'green', 'bank', 'Bank Recon Sheet', '#');
                if (compliance == 'True')
                    $("#metroaqui").AddBtnMy('bt4', '6', 'sky', 'chain', 'Compliance Management', '@Url.Action("Index", "Compliance")');
                if (userCard == 'True')
                $("#metroaqui").AddBtnMy('bt4', '6', 'red', 'line-chart', 'Amex Management', '@Url.Action("Index", "CardExpense")');
                if (bankTrans == 'True')
                $("#metroaqui").AddBtnMy('bt4', '6', 'gary', 'bar-chart', 'Bank Transaction', '@Url.Action("Index", "BankTransaction")');
                    //   $("#metroaqui").AddBtnMy('bt4', '4', 'orange', 'check-square-o ', 'Check Inventory / Check Log Sheet', '#');


                });
        </script>
    }
