@using CorporateAndFinance.Web.Helper
@using CorporateAndFinance.Core.Helper.Structure
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Corporate Finance</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    @Styles.Render("~/Bundles/Themes/Finance-1/css")

</head>
<body class="skin-red sidebar-mini" style="height: auto;">
   
    <header class="main-header">

        <!-- Logo -->
        <a href="@Url.Action("Index", "Home")" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>CF</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><img src="~/Themes/finance-1/img/logo.png" style="width:100%;"></span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
       
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <ul class="nav navbar-nav navbar-left">
                <li style="padding-top: 12px; color: #fff;font-size: 12pt;  ">
                    Beta Version 1.0
                </li>
            </ul>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        @Html.Partial("_LoginPartial")
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                   
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left info">
                    <p>@Html.Partial("_LoginPartial")</p>


                </div>
            </div>


            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="liclass active"><a href="@Url.Action("Index", "Home")"><i class="fa fa-th"></i> <span>Home</span></a></li>

                <li class="treeview liclass" >
                    <a href="#">
                        <i class="fa fa-share"></i> <span>Finance</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">

                        @if (PermissionControl.CheckPermission(UserAppPermissions.User_View))
                        {
                            <li><a href="@Url.Action("Index", "User")"><span>User Managment</span></a></li>}
                        @if (PermissionControl.CheckPermission(UserAppPermissions.PettyCash_View))
                        {
                            <li><a href="@Url.Action("Index", "PettyCash")">Petty Cash</a></li>}
                        @if (PermissionControl.CheckPermission(UserAppPermissions.BankPosition_View))
                        {
                            <li><a href="@Url.Action("Index", "BankPosition")">Bank Position</a></li>}
                        @if (PermissionControl.CheckPermission(UserAppPermissions.Compliance_View))
                        {
                            <li><a href="@Url.Action("Index", "Compliance")">Compliance Management</a></li>}
                        @if (PermissionControl.CheckPermission(UserAppPermissions.UserCardExpense_View))
                        {
                            <li><a href="@Url.Action("Index", "CardExpense")">Amex Management</a></li>}
                        @if (PermissionControl.CheckPermission(UserAppPermissions.BankTransaction_View))
                        {
                            <li><a href="@Url.Action("Index", "BankTransaction")">Bank Transaction</a></li>}

                        @if (PermissionControl.CheckPermission(UserAppPermissions.UserTask_View))
                        {
                            <li><a href="@Url.Action("Index", "Task")">Issue Log</a></li>}

                        @if (PermissionControl.CheckPermission(UserAppPermissions.ALP_Costing_View))
                        {
                            <li><a href="@Url.Action("Index", "UserExpense")">ALP Costing</a></li>}
                        @if (PermissionControl.CheckPermission(UserAppPermissions.Requisition_View))
                        {
                            <li><a href="@Url.Action("Index", "Requisition")">Requisition</a></li>}

                        @if (PermissionControl.CheckPermission(UserAppPermissions.UserAllocation_View))
                        {
                            <li><a href="@Url.Action("Index", "UserAllocation")">User Allocation</a></li>}
                    </ul>
                </li>

                <li class="treeview liclass">
                    <a href="#">
                        <i class="fa fa-files-o"></i> <span>Finance Reports</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        @if (PermissionControl.CheckPermission(UserAppPermissions.PaymentAndCollectionReport_View))
                        {
                            <li><a href="@Url.Action("PaymentAndCollection", "Report")">Payment And Collection</a></li>
                        }
                        @if (PermissionControl.CheckPermission(UserAppPermissions.InterCompanyReconciliation_View))
                        {
                            <li><a href="@Url.Action("InterCompanyReconciliation", "Report")">InterCompany Reconciliation</a></li>
                        }
                        @if (PermissionControl.CheckPermission(UserAppPermissions.PaymentTypeWiseBankTransactionReport_View))
                        {
                            <li><a href="@Url.Action("PaymentTypeWiseBankTransaction", "Report")">Payment Wise Bank Transaction</a></li>
                        }
                        @if (PermissionControl.CheckPermission(UserAppPermissions.BankReconciliationQBWiseReport_View))
                        {
                            <li><a href="@Url.Action("BankReconciliationQBWise", "Report")">Bank Reconciliation QB Wise</a></li>
                        }

                    </ul>
                </li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <div class="content-wrapper" style="min-height: 298px;">
        <div class="notification"></div>

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                 @ViewBag.Title
            </h1>
            
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box box-danger">
                <div class="box-header with-border">
                    @RenderBody()
                </div>
            </div>
            <div class="ajax-loader">
            </div>
            <input id="hdnUniqueSetUpRecord" type="hidden" />

        </section>
        <!-- /.content -->
    </div>

    <div class="loader">
        <center>
            <img class="loading-image" src="~/Content/img/loading.gif" alt="loading..">
        </center>
    </div>
    <footer class="main-footer">
        <strong>&copy; @DateTime.Now.Year - Consulting And Finance - <a href="http://www.arthurlawrence.net" target="_blank">Arthur Lawrence</a></strong> All rights
        reserved.
    </footer>
  

    @Scripts.Render("~/Bundles/Themes/Finance-1/Javascript")
    @Scripts.Render("~/Bundles/Scripts/Javascript")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Bundles/jquery-admin-custom")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function(){
            setActiveClass();
        });


        function setActiveClass() {

            $("[href]").each(function () {
                if (this.href != window.location.href) {
                    $(this).parents('.liclass').removeClass("active");
                    $(this).parent().removeClass("active");
                }
            });

            $("[href]").each(function () {
                if (this.href == window.location.href) {
                    $(this).parents('.liclass').addClass("active");
                    $(this).parent().addClass("active");
                }
                 
            });
        }
    </script>
</body>
</html>
