@model CorporateAndFinance.Core.ViewModel.ReportVM
@using ReportViewerForMvc;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="col-sm-9 nopadding">
        <div id="div-table">
            <h1 class="red list-inline"><span class="gray"></span> Payment Wise Bank Transaction Report</h1>
            <div class="row">
            </div>
            <div class="clearfix"></div>
            <div class="row mr15">
                <div class="col-sm-12">
                    <div style="border: solid 1px #eaeaea; padding: 15px 0px;">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input id="FromDate" name="FromDate" value="@Model.FromDate" class="datepicker form-control" placeholder="Filter By From Date" type="datetime">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input id="ToDate" name="ToDate" value="@Model.ToDate" class="datepicker form-control" placeholder="Filter By To Date" type="datetime">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <select class="form-control" name="PaymentType" id="PaymentType">
                                    <option value="ach,wire" @(Model.PaymentType == "ach,wire" ? "selected=selected" : "")>ALL</option>
                                    <option value="ach" @(Model.PaymentType == "ach" ? "selected=selected" : "")>ACH</option>
                                    <option value="wire" @(Model.PaymentType == "wire" ? "selected=selected" : "")>WIRE</option>
                                </select>
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-chevron-down"></i></span>
                            </div>
                        </div>
                        <div class="col-sm-3 nopadding text-right">
                            <button class="btn btn-theme btn-blue" id="btnSearch" type="submit">ShowReport</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table>
                        <tr>
                            <td width="25%"></td>
                            <td width="50%">
                                <div id="reportView" class="table-responsive">
                                    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { style = "border: none; margin", scrolling = "yes", width = "100%" })
                                </div>
                            </td>
                            <td width="25%"></td>
                        </tr>
                    </table>



                </div>
            </div>

        </div>
        <!-- END FORM-->
    </div>


}


@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $('.datepicker').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1900:+10',
                setDate: new Date()
            })

        });


    </script>
}


